.vscode/settings.json
*.xlsx
._*
*.diff
*.orig
*.rej
*.ads
*.adb
*.sh
OLD/*
~$*
*~~
.DS_*
BACKUP-*
*.tar.gz
.lua-format.conf
portmaster-devel
debugger.lua
Coroutine-Test/test.lua
Coroutine-Test/vscode-debuggee.lua
vscode-debuggee.lua
.vscode/launch.json
profiler.lua
